@model VuiwModels.PedidoViewModel;
@{
    ViewData["Title"] = "Home Page";
}

    <h3>Nuevo Cliente</h3>

    <form  method="post" class=" w-50 mx-auto" asp-controller="Pedido" asp-action="Create">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Id_cliente" value="@ViewBag.id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Obs" value="Obs" class="control-label"> Nombre</label>
                <input asp-for="Obs" class="form-control" > 
                <span asp-validation-for="Obs" class="text-danger"></span>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
            </div>           
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}