@model VuiwModels.PedidoViewModel;
@{
    ViewData["Title"] = "Home Page";
}

    <h3>Actualizar datos del pedido</h3>

    <form  method="post" class=" w-50 mx-auto" asp-controller="Pedido" asp-action="update" >

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <div class="form-group">
                    <input hidden asp-for="Numero" class="form-control" />
            </div>
            <div class="form-group">
                    <div class="form-group">
                    <input hidden asp-for="Cliente.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Obs" value="Obs" class="control-label"> Nombre</label>
                <input asp-for="Obs" class="form-control" > 
                <span asp-validation-for="Obs" class="text-danger">Carga invalida</span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" value="Estado" class="control-label"> Nombre</label>
                <input asp-for="Estado" readonly class="form-control" > 
                <span asp-validation-for="Estado" class="text-danger">Carga invalida</span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Nombre" value="Cliente.Nombre" class="control-label"> Nombre</label>
                <input asp-for="Cliente.Nombre" class="form-control" > 
                <span asp-validation-for="Cliente.Nombre" class="text-danger">Carga invalida</span>
            </div>

            <div class="form-group">
                <label asp-for="Cliente.Direccion" value="Cliente.Direccion" class="control-label"> Direccion</label>
                <input asp-for="Cliente.Direccion" class="form-control" />
                <span asp-validation-for="Cliente.Direccion" class="text-danger">Carga invalida</span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Telefono" value="Cliente.Telefono" class="control-label"> Telefono</label>
                <input asp-for="Cliente.Telefono" class="form-control" />
                <span asp-validation-for="Cliente.Telefono" class="text-danger">Carga invalida</span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.DatosReferencia" value="Cliente.DatosReferencia" class="control-label"> Telefono</label>
                <input asp-for="Cliente.DatosReferencia" class="form-control" />
                <span asp-validation-for="Cliente.DatosReferencia" class="text-danger">Carga invalida</span>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
            </div>          
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}