@model VuiwModels.CadeteViewModel;
@using Microsoft.Extensions.Logging
@{
    ViewData["Title"] = "Home Page";
}

    <h3>Nuevo Cadete</h3>
    
        <form  method="post" class=" w-50 mx-auto" asp-controller="Cadete" asp-action="Index">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"> Nombre</label>
                    <input asp-for="Nombre" class="form-control" > 
                    <span asp-validation-for="Nombre" class="text-danger">Carga invalida</span>
                </div>

                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"> Direccion</label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger">Carga invalida</span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"> Telefono</label>
                    <input asp-for="Telefono"  class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger">Carga invalida</span>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Enviar</button>
                </div>          
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}